

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS SECTION */

body {
    
}






/* HEADER */







/* CORPO */






/* FOOTER */





/* DEBUG */

.debug .header {

}


.debug .main {
    
}


.debug .footer {
    
}


.debug  {
    
}

.debug  {
    
}

.debug  {
    
}

.debug  {
    
}

.debug  {
    
}

.debug  {
    
}

